body{
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 350px;
    margin: 72px auto 0 auto;
    box-shadow: 0px 0px 40px 15px rgba(153, 153, 153, 1);
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
}
#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0);
}
.buttons{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}
.button{
    margin: 5px 10px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background-color: black;
}
#equal{
    background-color: yellow;
    opacity: 100%;
    color: black;
}
#equal:hover{
    opacity: 70%;
}
.button:hover{
   background-color: rgb(59, 57, 57);
    transition: 0.5s ease;
}
.math1{
    background-color: red;
    color: black;
    opacity: 100%;
}
.math1:hover{
    background-color: rgb(240, 89, 89);
}
.math{
    background-color: yellow;
    color: black;
    font-weight: bolder;
}
.math:hover{
    background-color: rgb(233, 233, 107);
}


